{% extends 'base.html' %}

{% block title %}جميع الأفراد{% endblock %}

{% block header_buttons %}
<div class="flex justify-end mb-6">
    <form action="{% url 'admin_dashboard' %}" method="get">
        <button type="submit"
            class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
            🔙 العودة للوحة التحكم
        </button>
    </form>
</div>
{% endblock %}

{% block content %}
<h1>جميع الأفراد</h1>

<table>
    <thead>
        <tr>
            <th>الرتبة</th>
            <th>حالة المهام</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in user_profiles %}
        <tr>
            <td>{{ profile.rank }}</td>
            <td>
                {% for subtask in profile.user.subtask_set.all %}
                {% if subtask.completed %}
                ✔️
                {% else %}
                ❌
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
